# Ignore Visual Studio Code
.vscode/

# Ignore bin and obj directories
bin/
obj/
# Ignore MacOS-specific files
.DS_Store

# Ignore compilation and build files for .NET projects
*.dll
*.exe
*.pdb
*.user
*.suo
*.cache
*.log
bin/
obj/

.fake
# Ignore Visual Studio Code
.vscode/

# Ignore bin and obj directories
bin/
obj/

# Ignore SQLite database files
*.db
*.db-shm
*.db-wal

# Ignore MacOS-specific files
.DS_Store
